In [1]:
##Import pandas
import pandas as pd

In [2]:
##Basic info for BLS data:
##I have four seperate excel documents from the BLS that I combined into one dataset in Excel.
##I tried cleaning and combining the data in pandas but could not...

##The goal was to make an index that compares the LFPR recovery of people with and without disabilites.

##The files all measure labor force participation rate (LFPR)
###FILE 1 - LFPR for men without a disability
###FILE 2 - LFPR for women without a disability
###FILE 3 - LFPR for men with a disability
###FILE 4 - LFPR for women with a disability

##I got the data here: https://www.bls.gov/webapps/legacy/cpsatab6.htm

In [59]:
##Cleaning the data - Step 1:

##Created 7 columns:
###One tracks time in the form of year and month from 01/2020 to present.
###Four track LFPR from each file.
###Two are for the calculation of totals for LFPR for people with disabilities and without disabilities.

##Transposed the data in Excel to make LFPR verticle, combining LFPR past 01/2020 into one column for each file
##Calculated the average across each group for people with and without disabilities.

xls = pd.ExcelFile('data/BLS DATA.xlsx')
df_all_LFPR = pd.read_excel(xls, 'LFPR_s1')
df_all_LFPR

,Month,Men with Disability,Women with Disability,People with Disability,Men without Disability,Women without Disability,People without Disability
0,2020-01-01,35.6,31.5,33.55,82.7,72.2,77.45
1,2020-02-01,35.9,31.7,33.80,83.0,72.5,77.75
2,2020-03-01,36.5,33.3,34.90,82.4,71.6,77.00
3,2020-04-01,35.4,30.0,32.70,79.3,68.2,73.75
4,2020-05-01,36.8,31.5,34.15,80.5,69.2,74.85
5,2020-06-01,36.4,32.3,34.35,81.9,70.6,76.25
6,2020-07-01,35.5,30.4,32.95,82.1,70.8,76.45
7,2020-08-01,36.1,31.1,33.60,81.9,70.4,76.15
8,2020-09-01,34.4,31.0,32.70,81.5,70.1,75.80
9,2020-10-01,35.3,31.3,33.30,81.9,70.7,76.30
10,2020-11-01,35.3,31.8,33.55,81.4,70.5,75.95
11,2020-12-01,34.4,31.9,33.15,81.2,70.4,75.80
12,2021-01-01,34.3,31.4,32.85,81.3,69.9,75.60
13,2021-02-01,33.2,33.7,33.45,81.7,70.5,76.10
14,2021-03-01,33.3,33.4,33.35,81.6,70.8,76.20
15,2021-04-01,34.7,32.6,33.65,81.8,70.7,76.25
16,2021-05-01,35.2,33.3,34.25,82.0,70.8,76.40
17,2021-06-01,37.6,33.3,35.45,82.9,71.6,77.25
18,2021-07-01,37.5,33.0,35.25,83.5,71.8,77.65
19,2021-08-01,38.3,33.0,35.65,82.5,71.2,76.85
20,2021-09-01,38.0,34.8,36.40,82.1,71.1,76.60
21,2021-10-01,37.5,36.1,36.80,82.1,71.3,76.70
22,2021-11-01,39.5,35.9,37.70,82.1,71.5,76.80
23,2021-12-01,37.9,35.6,36.75,81.8,71.5,76.65
24,2022-01-01,39.4,35.6,37.50,81.6,71.3,76.45
25,2022-02-01,38.0,35.3,36.65,82.4,71.5,76.95
26,2022-03-01,38.8,36.7,37.75,82.6,71.9,77.25

In [31]:
##Cleaning the data - Step 2:

##Elimanted columns for each gender. We're just focusing on the totals.
##Deleted row for 01/2020 because we're just looking at what happened after pandemic began.

df_total_LFPR = pd.read_excel(xls, 'LFPR_s2')
df_total_LFPR

        Month  People with a Disability  People without a Disability
0  2020-01-01                     33.55                        77.45
1  2020-02-01                     33.80                        77.75
2  2020-03-01                     34.90                        77.00
3  2020-04-01                     32.70                        73.75
4  2020-05-01                     34.15                        74.85
5  2020-06-01                     34.35                        76.25
6  2020-07-01                     32.95                        76.45
7  2020-08-01                     33.60                        76.15
8  2020-09-01                     32.70                        75.80
9  2020-10-01                     33.30                        76.30
10 2020-11-01                     33.55                        75.95
11 2020-12-01                     33.15                        75.80
12 2021-01-01                     32.85                        75.60
13 2021-02-01                     33.45                        76.10
14 2021-03-01                     33.35                        76.20
15 2021-04-01                     33.65                        76.25
16 2021-05-01                     34.25                        76.40
17 2021-06-01                     35.45                        77.25
18 2021-07-01                     35.25                        77.65
19 2021-08-01                     35.65                        76.85
20 2021-09-01                     36.40                        76.60
21 2021-10-01                     36.80                        76.70
22 2021-11-01                     37.70                        76.80
23 2021-12-01                     36.75                        76.65
24 2022-01-01                     37.50                        76.45
25 2022-02-01                     36.65                        76.95
26 2022-03-01                     37.75                        77.25

In [32]:
##Creating the index - Step 1:

##Divided the values for each column (except month) by their initial starting value. 
##This gives us an indexed ratio, but it's incomplete.

df_ratio_LFPR = pd.read_excel(xls, 'LFPR_s3')
df_ratio_LFPR

        Month  People with a Disability  People without a Disability
0  2020-02-01                  1.000000                     1.000000
1  2020-03-01                  1.032544                     0.990354
2  2020-04-01                  0.967456                     0.948553
3  2020-05-01                  1.010355                     0.962701
4  2020-06-01                  1.016272                     0.980707
5  2020-07-01                  0.974852                     0.983280
6  2020-08-01                  0.994083                     0.979421
7  2020-09-01                  0.967456                     0.974920
8  2020-10-01                  0.985207                     0.981350
9  2020-11-01                  0.992604                     0.976849
10 2020-12-01                  0.980769                     0.974920
11 2021-01-01                  0.971893                     0.972347
12 2021-02-01                  0.989645                     0.978778
13 2021-03-01                  0.986686                     0.980064
14 2021-04-01                  0.995562                     0.980707
15 2021-05-01                  1.013314                     0.982637
16 2021-06-01                  1.048817                     0.993569
17 2021-07-01                  1.042899                     0.998714
18 2021-08-01                  1.054734                     0.988424
19 2021-09-01                  1.076923                     0.985209
20 2021-10-01                  1.088757                     0.986495
21 2021-11-01                  1.115385                     0.987781
22 2021-12-01                  1.087278                     0.985852
23 2022-01-01                  1.109467                     0.983280
24 2022-02-01                  1.084320                     0.989711
25 2022-03-01                  1.116864                     0.993569

In [33]:
##Creating the index - Step 2:

##Multiplied the values for each column (except month) by 100. 
##This yields a proper index where 100 or 100% = the value at the start of the pandemic.

df_index_LFPR = pd.read_excel(xls, 'LFPR_s4')
df_index_LFPR

        Month  People with a Disability  People without a Disability
0  2020-02-01                100.000000                   100.000000
1  2020-03-01                103.254438                    99.035370
2  2020-04-01                 96.745562                    94.855305
3  2020-05-01                101.035503                    96.270096
4  2020-06-01                101.627219                    98.070740
5  2020-07-01                 97.485207                    98.327974
6  2020-08-01                 99.408284                    97.942122
7  2020-09-01                 96.745562                    97.491961
8  2020-10-01                 98.520710                    98.135048
9  2020-11-01                 99.260355                    97.684887
10 2020-12-01                 98.076923                    97.491961
11 2021-01-01                 97.189349                    97.234727
12 2021-02-01                 98.964497                    97.877814
13 2021-03-01                 98.668639                    98.006431
14 2021-04-01                 99.556213                    98.070740
15 2021-05-01                101.331361                    98.263666
16 2021-06-01                104.881657                    99.356913
17 2021-07-01                104.289941                    99.871383
18 2021-08-01                105.473373                    98.842444
19 2021-09-01                107.692308                    98.520900
20 2021-10-01                108.875740                    98.649518
21 2021-11-01                111.538462                    98.778135
22 2021-12-01                108.727811                    98.585209
23 2022-01-01                110.946746                    98.327974
24 2022-02-01                108.431953                    98.971061
25 2022-03-01                111.686391                    99.356913

In [74]:
##Time to analyze the data...

In [38]:
##People with a disability

##Notes:
###The data shows that people with disabilities have a LFPR that is 11.6% higher than when the pandemic began
###The data shows it dipped to 96.75% of what it was when the pandemic began, which isn't very much.
###Standard deviation is comparatively high at 4.9%.

df_index_LFPR["People with a Disability"].describe()

count     26.000000
mean     102.708239
std        4.970197
min       96.745562
25%       98.742604
50%      101.183432
75%      107.137574
max      111.686391
Name: People with a Disability, dtype: float64

In [40]:
##People without a disabillity

##Notes:
###The maximum value is 100, indicating that LFPR has not fully recovered.
###The min is 94.85%, meaning that LFPR took a bigger hit among people without a disability.
###Standard deviation is much lower comparatively at just 1%.
###The mean is below the initial index value for people without a disability, unlike the other.

df_index_LFPR["People without a Disability"].describe()

count     26.000000
mean      98.231511
std        1.069034
min       94.855305
25%       97.893891
50%       98.295820
75%       98.826367
max      100.000000
Name: People without a Disability, dtype: float64

In [ ]:
##Analysis:
###People with diabilities have had a better recovery from the pandemic in terms of their LFPR.
###Is that because their initial LFPR was already so low?
###Their population is also smaller ... but by how much?
###The could exlpain the volatility in the data.
###The LFPR for people without a disability has not fully recovered yet.

In [60]:
##What if we shifted the index point forward by a month for people with disabilities?
##We might want to do this because it seems more like the peak.

df_index_march_LFPR_disabled = pd.read_excel(xls, 'LFPR_s5')
df_index_march_LFPR_disabled

        Month  People with a Disability
0  2020-02-01                 96.848138
1  2020-03-01                100.000000
2  2020-04-01                 93.696275
3  2020-05-01                 97.851003
4  2020-06-01                 98.424069
5  2020-07-01                 94.412607
6  2020-08-01                 96.275072
7  2020-09-01                 93.696275
8  2020-10-01                 95.415473
9  2020-11-01                 96.131805
10 2020-12-01                 94.985673
11 2021-01-01                 94.126074
12 2021-02-01                 95.845272
13 2021-03-01                 95.558739
14 2021-04-01                 96.418338
15 2021-05-01                 98.137536
16 2021-06-01                101.575931
17 2021-07-01                101.002865
18 2021-08-01                102.148997
19 2021-09-01                104.297994
20 2021-10-01                105.444126
21 2021-11-01                108.022923
22 2021-12-01                105.300860
23 2022-01-01                107.449857
24 2022-02-01                105.014327
25 2022-03-01                108.166189

In [67]:
##Let's compare the two different indexes for people with disabilities:

##Remember: This one is indexed at March of 2020
df_index_march_LFPR_disabled["People with a Disability"].describe()

count     26.000000
mean      99.471016
std        4.813544
min       93.696275
25%       95.630372
50%       97.994269
75%      103.760745
max      108.166189
Name: People with a Disability, dtype: float64

In [68]:
##Remember: This one is indexed at February of 2020
df_index_LFPR["People with a Disability"].describe()

count     26.000000
mean     102.708239
std        4.970197
min       96.745562
25%       98.742604
50%      101.183432
75%      107.137574
max      111.686391
Name: People with a Disability, dtype: float64

In [75]:
##Analysis:
###It doesn't change the data too much, but in some important ways:
####The minimum value is significantly lower, suggesting more of a drop.
####Moving the index position to March decreases to percentage gain from 11.7% to 8.2%.
####The mean for the data indexed in March is more similar to the data for people without a disability in terms of the mean.

In [87]:
##We will now shift our focus to the data from Indeed's hiring lab...

##Basic info for Indeed data:
###This data measures the percentage of jobs open to candidates with criminal records as a percentage of all jobs hosted on Indeed.
###I did not need to clean the data.

xls2 = pd.ExcelFile('data/Fair_chance_Indeed_data.xlsx')
df_indeed_num = pd.read_excel(xls2, '% of all job postings')
df_indeed_num

,Date,Job postings on Indeed advertising fair chance hiring as a percent of all job postings on Indeed.
0,2019-01-01,1.764743
1,2019-02-01,1.956251
2,2019-03-01,1.889566
3,2019-04-01,1.847995
4,2019-05-01,1.910809
5,2019-06-01,2.004699
6,2019-07-01,2.081449
7,2019-08-01,2.120451
8,2019-09-01,2.310358
9,2019-10-01,2.430686
10,2019-11-01,2.577099
11,2019-12-01,2.471138
12,2020-01-01,2.542078
13,2020-02-01,2.543051
14,2020-03-01,2.405907
15,2020-04-01,2.547535
16,2020-05-01,2.741077
17,2020-06-01,2.405088
18,2020-07-01,2.469559
19,2020-08-01,2.547695
20,2020-09-01,2.569895
21,2020-10-01,2.536769
22,2020-11-01,2.381586
23,2020-12-01,2.186219
24,2021-01-01,2.278613
25,2021-02-01,2.265484
26,2021-03-01,2.410303
27,2021-04-01,2.753456
28,2021-05-01,2.795779
29,2021-06-01,2.272311
30,2021-07-01,2.133711
31,2021-08-01,2.284574
32,2021-09-01,2.249752
33,2021-10-01,2.295211
34,2021-11-01,2.747473
35,2021-12-01,2.654144
36,2022-01-01,2.566963
37,2022-02-01,2.826617
38,2022-03-01,2.525643

In [94]:
##Looking for a general description of the data.
df_indeed_num.describe()

       Job postings on Indeed advertising fair chance hiring as a percent of all job postings on Indeed.
count                                          39.000000
mean                                            2.366711
std                                             0.276337
min                                             1.764743
25%                                             2.217986
50%                                             2.405907
75%                                             2.547615
max                                             2.826617

In [95]:
##Analysis:
###The max value for the data is very recent.
###This supports the idea of the thesis behind my story.
###More businesses are opening the door to people with criminal records.
###The minimum value is also from early in 2019, which supports my trend
###I'm not sure exactly why, but the standard deviation seems low to me compared to the mean.

In [96]:
##Trust, but verify:
###I was given some statistics in terms of growth from Indeed, but it doesn't hurt to make sure they're accurate.
df_indeed_growth = pd.read_excel(xls2, 'Growth by year')
df_indeed_growth

,Date,Job postings on Indeed advertising fair chance hiring: Growth since March 2022
0,2021-03-01,0.048
1,2020-03-01,0.050
2,2019-03-01,0.337

In [99]:
##Checking for 2019:
a=2.525643
b=1.889566
c=(a/b)
print(c)
##It checks out

1.3366259765469954

In [101]:
##Checking for 2020:
a=2.525643
b=2.405907
c=(a/b)
print(c)
##It checks out

1.0497675097167098

In [102]:
##Checking for 2020:
a=2.525643
b=2.410303
c=(a/b)
print(c)
##It checks out

1.0478529048007659

In [ ]:
##This concludes my analysis.